<nav class="navbar navbar-expand-lg bg-dark shadow">
    <div class="container-fluid">
        <i class="bi bi-film text-white"></i>
        <a class="navbar-brand text-white m-lg-2" href="#">Appivie</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-end m-2" id="navbarSupportedContent">
            
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Buscar</button>
            </form>
        </div>       
    </div>
</nav>