<nav class="navbar navbar-expand-lg bg-dark shadow">
    <div class="container-fluid">
        <i class="bi bi-film text-white"></i>
        <a class="navbar-brand text-white m-lg-2" href="#">Appivie</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-end m-2" id="navbarSupportedContent">
            <app-search-bar (searchText)="searchAction($event)"></app-search-bar>

        </div>
    </div>
</nav>
