<div class="container">
    <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="text" 
            formControlName="username"
            class="form-control" id="exampleFormControlInput1">
            <div *ngIf="loginForm.get('username')?.touched
                                    && loginForm.get('username')?.errors?.['required']" class="alert alert-danger mt-2"
                role="alert">
                El usuario es requerido
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" 
            formControlName="password"
            class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            <div *ngIf="loginForm.get('password')?.touched
                                                && loginForm.get('password')?.errors?.['required']"
                class="alert alert-danger mt-2" role="alert">
                La contraseña es requerida
            </div>
            <div *ngIf="loginForm.get('password')?.touched
                                                            && loginForm.get('password')?.errors?.['minlength']"
                class="alert alert-danger mt-2" role="alert">
                Minimo 6 caracteres para el password
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
    </form>
</div>