.custom-card{
    width: 18rem;
}

.card {
    background: #fff;
    display: inline-block;
    margin-bottom: 2rem;
    position: relative;
    width: 170px;
    padding: 10px;
    transition: all .2s ease-in-out;
}

.card a{
    color: black;
}

.card:hover{
     transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.custom-img{
    min-height: calc(150px*1.5);
    height: calc(150px*1.5);
    width: 150px;
}

.page-link{
  cursor: pointer;
}
